<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container-fluid">
        <h1>Welcome to my blog</h1>

        <select class="form-control" id="selectYear" style="width: 100px;">
            <option value="all">All year</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>            
        </select>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Today</td>
                    <td>Today is quite hot</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tomorrow</td>
                    <td>Tomorrow will be fine</td>
                    <td>2020</td>
                </tr>
            </tbody>
        </table>

        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>